html {
    background-color: rgb(27 27 30);
    font-family: 'Noto Sans SC', sans-serif;
    font-size: small;
}
body {
    margin: 0 auto;
    width: 90%;
    color: rgb(175 176 177);
    background-color: rgb(39 40 43);
    padding: 0% 30px 30px 30px; 
    border: 5px solid whitesmoke;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
p, li {
    font-size: 150%;
    line-height: 1;
    letter-spacing: 1px;
}
li {
    line-height: 1.5;
}
a {
    margin: 0 auto;
    color: rgb(138 180 248);
}
a.blog-link {
    margin: 0 auto;
    position: absolute; 
    right: 5% 
}
