html {
    background-color: rgb(27 27 30);
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 10px;
}
body {
    margin: 0 auto;
    width: 600px;
    color: rgb(175 176 177);
    background-color: rgb(39 40 43);
    padding: 0% 20px 20px 20px;
    border: 5px solid whitesmoke;
}
h1 {
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
}
li {
    line-height: 1.5;
}
a {
    margin: 0 auto;
    color: rgb(138 180 248);
}
a.blog-link {
    margin: 0 auto;
    position: relative; 
    right: -520px;
}
